/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* Variables */
:root {
  --primary: #37e142;
  --error: #e7195a;
}

/* General Layout */
body {
  background: #f9f9f9;
  margin: 0;
  font-family: "Poppins";
}

/* Header */
header {
  background: #37e142;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

.nav-right a {
  color: #000000;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  margin-right: 15px;
}

/* Page Container */
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Input and Form Styling */
.label, input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

/* Error Styling */
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
}

nav a, nav button {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* Authentication Forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* Hamburger Menu */
.hamburger-container {
  position: relative;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  padding: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hamburger-menu a {
  display: block;
  margin: 20px 0;
  font-size: 1em;
  color: #333;
  text-decoration: none;
}

/* Recipe Details */
.recipe-details {
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-details h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

/* Recipe Content */
.recipe-content-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.nutrition-info {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: 1fr 1fr;    /* Two rows */
  gap: 10px;                      /* Space between quadrants */
  font-size: 1.0rem;              /* Base font size */
  height: 100%;                   /* Full height */
  align-content: start;           /* Align content to the top */
}

.nutrition-info p {
  font-size: 1.5rem;              /* Font size for nutrient text */
  font-weight: normal;            /* Regular weight for amounts */
  margin: 0;
  display: flex;
  justify-content: space-between; /* Ensure content is spaced out */
  align-items: baseline;          /* Align items on the same line */
}

.nutrition-info p strong {
  font-size: 1.3rem; /* A font size between large and x-large */
  font-weight: 600;  /* Bold weight for labels */
  justify-self: start; /* Align labels to the left */
}

.nutrition-info p span {
  font-size: 0.7rem;
  justify-self: end;             /* Align amounts to the right */
}

.image-container {
  max-width: 55%;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Recipe Summary */
.recipe-summary {
  margin-top: 20px;
}

/* Recipe Instructions */
.recipe-instructions h3 {
  margin-top: 20px;
}

.recipe-instructions ul {
  list-style: none;
  padding: 0;
}

.recipe-instructions li {
  margin: 10px 0;
}

/* Nutrition Section Styling */
.nutrition-info h3 {
  font-size: 1.8em; /* Slightly larger font size for Nutrition header */
  font-weight: bold;
}
